.header {
  background-color: @grey;
}

.header__nav {
  min-height: 115px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.header__logo {
  width: 360px;
  margin-bottom: -5px;
}

.header__logo-link {
  &:hover {
    opacity: 0.8;
    .trans();
  }

  &:active {
    opacity: 0.3;
    .trans();
  }
}

.header__list {
  .list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  width: 485px;
}

.header__item {
  padding-right: 45px;
}

.header__link {
  .link();
  line-height: 30px;
  text-transform: uppercase;
  padding: 10px 0;

  &--active {
    border-bottom: 2px solid @red;
    padding-bottom: 3px;
  }

  &--cart {
    padding-left: 40px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left bottom 19px;
  }

  &:hover {
    color: @red;
    .trans();
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    .trans();
  }
}
