.list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link() {
  display: block;
  text-decoration: none;
  color: black;
  font: inherit;
}

.title() {
  margin: 0;
  padding: 0;
  font: inherit;
}

.main-button() {
  width: 240px;
  border: 2px solid @red;
  border-radius: 5px;
  padding: 14px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: @red;
  color: white;
  text-transform: uppercase;
  font: inherit;
  line-height: 18px;
}

.trans() {
  transition-duration: 0.5s;
}
