@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
}

@import "node_modules/normalize.less/normalize.less";
@import url("global.less");
@import url("mixins.less");
@import url("variables.less");

@import url("blocks/visually-hidden.less");
@import url("blocks/page-wrapper.less");
@import url("blocks/header.less");
@import url("blocks/main.less");
@import url("blocks/footer.less");
@import url("blocks/map.less");
@import url("blocks/social.less");

/*----index.html-----*/
@import url("blocks/slider.less");
@import url("blocks/pricelist.less");
@import url("blocks/about-us.less");
@import url("blocks/projects.less");

/*----catalog.html----*/
@import url("blocks/main-header.less");
